* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 80px auto;
}

table {
    width: 90%;
    margin: 0 auto;
}

table thead {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(95, 237, 39);
}

table thead tr,
th {
    border: 1px solid black;
    height: 30px;
}

table tbody tr td {
    text-align: center;
}

i {
    font-size: large;
    margin-right: 5px;
}

.listaOrcamentos tr:hover {
    background-color: rgba(128, 128, 128, 0.23);
    transition: all .3s ease-in-out;

}

i:hover {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

p {
    font-size: 18px;
}

th {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
}

span {
    color: red;
    font-size: large;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    gap: 10px;
    text-align: center;
    padding: 5px;
    margin: 15px auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 120px;
    gap: 5px;
}

footer span {
    margin: 10px 80px;
    border-top: 2px solid black;
    /* <- Aqui foi aumentada a espessura */
    width: 350px;
    padding: 5px 50px;
}

.logo {
    width: 400px;
    height: 80px;
}